<!-- This file contains Vue templates for each component -->

<!-- Irrelevant -->
<!-- <header>
  <h1>Vue.js + d3.js</h1>
  <span class="byline">Drawing charts in a purely Vue.js manner, instead of using DOM construction features of
    d3.js.<br /><a href="https://codepen.io/terrymun/full/peQpxJ/">See alternative example</a></span>
</header> -->

<!-- main invocation to create the viz (accepts three props - layout + data are probably the basic needed) -->
<section id="chart">
  <d3__chart :layout="layout" :chart-data="chartData" :axes="axes"></d3__chart>
</section>

<!-- Irrelevant -->
<!-- <section class="content">
  <p>Although drawn using d3.js, this SVG chart does not use the standard DOM manipuulations seen in most d3.js
    examples. Individual components of the charts, such as the line, points, and area, are assembled using Vue
    components instead. This SVG chart is truly reactive, thanks to Vue.js. The Vue instance of this chart is stored in
    the global <code>d3Vis</code> variable. You can test the following in your browser console:</p>
  <ul>
    <li>Change the dimensions. Try <code>d3Vis.layout.width = 1000</code> to update the <code>width</code> of the chart.
    </li>
    <li>Decide what axis to display. Try <code>d3Vis.axes.push('right')</code> to add a right axes</li>
    <li>Update margins. Try <code>d3Vis.layout.marginRight = 50</code> to increase the right margin to accommodate the
      additional axis added above</li>
  </ul>
</section> -->

<!-- template for main component - uses two subcomponents one for axis and one for the line chart (series) -->
<template id="d3__chart">
  <svg :view-box.camel="viewBox" preserveAspectRatio="xMidYMid meet">
    <g class="d3__stage" :style="stageStyle">
      <d3__axis v-for="axis in _.uniq(axes)" :axis="axis" :layout="layout" :scale="scale"></d3__axis>
      <d3__series v-for="seriesData in chartData" :series-data="seriesData" :layout="layout" :scale="scale">
      </d3__series>
    </g>
  </svg>
</template>

<!-- axis template - just a <g> tag -->
<template id="d3__axis">
  <g :class="[classList]" ref="axis" :style="style"></g>
</template>

<!-- series component template for the line chart. Makes use of three subcomponents 
one for area, one for line, and one for points  -->
<template id="d3__series">
  <g class="d3__series">
    <d3__area :layout="layout" :series-data="this.seriesData" :scale="this.scale">
    </d3__area>
    <d3__line :layout="layout" :series-data="this.seriesData" :scale="this.scale">
    </d3__line>
    <d3__scatter :layout="layout" :series-data="this.seriesData" :scale="this.scale">
    </d3__scatter>
  </g>
</template>


<!-- line subcomponent template - just a path tag -->
<template id="d3__line">
  <path class="line" ref="line" :style="style"></path>
</template>

<!-- area subcomponent template - also just a path tag -->
<template id="d3__area">
  <path class="area" ref="area" :style="style"></path>
</template>

<!-- scatter subcomponent - collection of point subcomponents. Why the need for g tag? https://developer.mozilla.org/en-US/docs/Web/SVG/Element/g
So g tags needed to group a collection of other svg elements. -->
<template id="d3__scatter">
  <g class="points">
    <d3__point v-for="pointData in seriesData.values" v-if="typeof pointData.value !== typeof null"
      :series-id="seriesData.id" :point-data="pointData" :layout="layout" :scale="scale"></d3__point>
  </g>
</template>

<!-- point subcomponent template - just a circle element -->
<template id="d3__point">
  <circle class="point" ref="point" :style="style"></circle>
</template>